Repository hammadmajid/algorithms, pull requests merged in 2022-12, with the labels that each got.

#18 Move the get_cents() method
  src/app/app.cc
  src/app/header/app.h
  src/app/user.cc
Labels: documentation, enhancement

#20 Update README.md
  README.md
Labels: documentation

#22 Update README.md
  README.md
Labels: documentation

#24 Delete makefile.yml
  .github/workflows/makefile.yml
Labels: enhancement

#26 Update README.md
  .github/pull_request_template.md
  .github/workflows/jekyll-gh-pages.yml
  CONTRIBUTING.md
  README.md
  _config.yml
Labels: documentation

#25 Add .circleci/config.yml
  .circleci/config.yml
Labels: enhancement

#29 Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: documentation

#32 Handle edge cases in input
  greedy-algorithm/include/greedy_algorithm.h
  greedy-algorithm/src/input.cc
  greedy-algorithm/src/input.h
  greedy-algorithm/src/main.cc
Labels: bug, documentation

#34 Create dijkstra's-algorithm.h
  dijkstra's-algorithm/REAMDE.md
  dijkstra's-algorithm/include/dijkstra's-algorithm.h
  dijkstra's-algorithm/src/main.cc
Labels: enhancement

#36 Fix typo in README.md
  README.md
Labels: documentation, good first issue, help wanted

#41 Delete update_license_year.yml
  .github/workflows/jekyll-gh-pages.yml
  .github/workflows/update_license_year.yml
Labels: bug, good first issue

#44 Add .circleci/config.yml
  .circleci/config.yml
  Makefile
  dijkstra's-algorithm/Makefile
  ford-fulkerson-algorithm/Makefile
  greedy-algorithm/Makefile
Labels: bug, documentation

#43 Using the argument vector to get input instead of stdin
  .circleci/config.yml
  Makefile
  README.md
  dijkstra's-algorithm/Makefile
  ford-fulkerson-algorithm/Makefile
  greedy-algorithm/Makefile
  greedy-algorithm/include/greedy_algorithm.h
  greedy-algorithm/src/input.cc
  greedy-algorithm/src/input.h
  greedy-algorithm/src/input.hh
  greedy-algorithm/src/main.cc
Labels: bug, documentation, enhancement

#45 Update docs
  .github/pull_request_template.md
  CONTRIBUTING.md
  README.md
Labels: documentation

#48 Update code documentation and Style it
  README.md
  greedy-algorithm/src/input.cc
  greedy-algorithm/src/input.hh
Labels: documentation

#49 Cache docker layer
  .circleci/config.yml
  .github/workflows/codeql.yml
Labels: enhancement

#51 Automate workflows
  .github/labeler.yml
  .github/workflows/codeql.yml
  .github/workflows/label.yml
  .github/workflows/stale.yml
Labels: enhancement, meta

#53 Update documention and fix labeler workflow
  .github/labeler.yml
  .github/workflows/label.yml
  .markdownlint.jsonc
  README.md
Labels: documentation, meta

#56 Config devcontainer
  devcontainer.json
Labels: meta

#57 Delete jekyll-gh-pages.yml
  .github/workflows/jekyll-gh-pages.yml
Labels: documentation, meta

#52 Write test cases for input in greedy algorithm
  greedy-algorithm/Makefile
  greedy-algorithm/tests/input_test.cc
  greedy-algorithm/tests/input_test.hh
  greedy-algorithm/tests/main_test.cc
Labels: enhancement, meta, greedy-algorithm

#60 Warn for invalid list formatting in markdown
  .markdownlint.jsonc
Labels: documentation, meta

#61 Rename devcontainer.json to .devcontainer/devcontainer.json
  .devcontainer/devcontainer.json
Labels: meta

#62 Update status badge
  README.md
Labels: documentation, meta
